<!DOCTYPE html>
<html xml:lang="en">
  <head>
    <title>Register an account</title>
  </head>

  <body>
    <form th:action="@{/auth/register}" th:object="${register}" method="post">
      <div>
			  <input type="text" th:field="*{username}" placeholder="Username"/>
				<p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />
			</div>
      <div>
			  <input type="email" th:name="email" th:value="*{email}" placeholder="Email"/>
				<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />
			</div>
      <div>
			  <input type="text" th:name="firstName" th:value="*{firstName}" placeholder="First Name"/>
				<p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" />
			</div>
      <div>
			  <input type="text" th:name="lastName" th:value="*{lastName}" placeholder="Last Name"/>
				<p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" />
			</div>
      <div>
			  <input type="text" th:name="nickname" th:value="*{nickname}" placeholder="Nickname"/>
				<p th:if="${#fields.hasErrors('nickname')}" th:errorclass="error" th:errors="*{nickname}" />
			</div>
			<div>
			  <input type="text" th:name="authType" th:value="*{authType}" placeholder="Auth Type (Use 'local')"/>
				<p th:if="${#fields.hasErrors('authType')}" th:errorclass="authType" th:errors="*{authType}" />
			</div>
			<div>
			  <input type="password" th:name="code" th:value="*{code}" placeholder="Password"/>
				<p th:if="${#fields.hasErrors('code')}" th:errorclass="code" th:errors="*{code}" />
			</div>
			<input type="submit" value="Register" />
		</form>
  </body>
</html>