<!DOCTYPE html>
<html xml:lang="en">
  <head>
    <title>Register an account</title>
  </head>

  <body>
    <div class="box" th:object="${person}">
      <p><b>Full Name:</b> <span th:utext="*{firstName}"></span></p>
      <p><b>Last Name:</b> <span th:utext="*{lastName}"></span></p>
      <p><b>Email:</b> <span th:utext="*{email}"></span></p>
      <p><b>Username:</b> <span th:utext="*{username}"></span></p>
      <p><b>Nickname:</b> <span th:utext="*{nickname}"></span></p>
		</div>
  </body>
</html>